h2{
   
   
   
   
   
    color: goldenrod;
    font-style: italic;

}
H3{


    color: rgb(169, 196, 15);
}

body{
    
    background-repeat: no-repeat,repeat;
    background-position: center;
    background-size: 100%;
}


